# CONFIG POSTGRESQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ConCONFIGfig REDIS
REDIS_PORT=
SENHA_REDIS=
REDIS_HOST=

# CONFIG EVO
BASE_URL_EVO=
API_TOKEN_GLOBAL_EVO=
API_KEY_EVO=
INSTANCE_NAME=

# CONFIG OPENAI
OPENAI_API_KEY=
OPENAI_MODEL=

# CONFIG GOOGLE
GOOGLE_CALENDAR_TOKEN_JSON=
# PROMPTS
PROMPT_AGENDAMENTO=
PROMPT_RECEPCIONISTA=
PROMPT_RAG=
PROMPT_ORQUESTRADOR=


# HUMANS NUMBERS
ADM_NUMBER=
# SCHEDULER
BASE_URL_SCHEDULER=
API_TOKEN_SCHEDULER=
WEBHOOK_URL_SCHEDULER=
 

# ============================   TESTES   ======================

# CEREBRAS
CEREBRAS_API_KEY=
CEREBRAS_MODEL=

# GROQ
GROQ_API_KEY=
GROQ_MODEL=